// nextflow.config

// Define default parameters for the pipeline
params {
    // Input options
    samplesheet = 'samplesheet.csv' // Path to your samplesheet

    // Output options
    outdir = './exomiser_pipeline_results' // Main output directory

    // ClinVar reference file
    clinvar_reference_file = "/media/ozbek-ws/DATA/references/clinvar/clinvar.vcf.gz" // Path to the ClinVar reference file

    // Pipeline assets
    template_yaml      = "${baseDir}/assets/template.yaml"      // Path to Exomiser template YAML
    exomiser_yaml_python_script_path = "${baseDir}/bin/create_exomiser_yaml.py" // Path to your Python script
    exomiser_split_python_script_path = "${baseDir}/bin/parse_exomiser_populate_rows.py" // Path to the Exomiser split Python script

    // Local Exomiser and data configuration
    // !!! IMPORTANT: User must verify this path to the Exomiser JAR !!!
    exomiser_jar_path = '/media/ozbek-ws/DATA/tools/exomiser-cli-14.0.0/exomiser-cli-14.0.0.jar'
    
    // HOST path to the main Exomiser data directory
    exomiser_data_dir_host = '/media/ozbek-ws/DATA/references/exomiser-data' 
    
    // Exomiser data versions (used in CLI arguments)
    exomiser_data_version = '2406' 
    exomiser_phenotype_version = '2406'

    // Full host paths to specific data files, constructed from exomiser_data_dir_host
    // These are passed as command-line arguments to the local Exomiser JAR
    exomiser_remm_path_host = "${params.exomiser_data_dir_host}/ReMM_hg38/ReMM.v0.3.1.post1.hg38.tsv.gz"
    exomiser_cadd_snv_path_host = "${params.exomiser_data_dir_host}/CADD_hg38/whole_genome_SNVs.tsv.gz"
    exomiser_cadd_indel_path_host = "${params.exomiser_data_dir_host}/CADD_hg38/InDels.tsv.gz"

    vep_data_dir = "/media/ozbek-ws/DATA/references/vep_data" // Path to VEP data directory

}

// Process-specific configurations
process {
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    withName: 'CREATE_YAML' {
        cpus = 1
        memory = '1.GB'
        time = '5m'
    }

    withName: 'RUN_EXOMISER' {
        // No container directive needed for local execution
        cpus = 4    // Adjust based on your local resources
        memory = '16.GB' // Adjust based on Exomiser needs
        time = '12h'  // Adjust based on expected run time per sample
        // containerOptions are removed as we are not using Docker
    }
}

// Docker configuration is removed
docker.enabled = true // Or simply remove the docker block
docker.runOptions = '-u $(id -u):$(id -g)'


// Profiles
profiles {
    standard {}
    test {
        params.samplesheet = "${baseDir}/assets/test_samplesheet.csv"
    }
}

// Manifest information
manifest {
    name = 'nf-exomiser-pipeline'
    author = 'Your Name'
    description = 'Nextflow pipeline to run Exomiser locally (Docker).'
    mainScript = 'main_emre.nf'
    nextflowVersion = '>=23.04.0'
    version = '2.0.0' 
}

// Enable DSL2
nextflow.enable.dsl=2

